#header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  rgb(128, 183, 255);
    color: rgb(0, 0, 0);
    height: 50px;
    display: flex;
    align-items: center;
}

body {
    background: rgb(255, 0, 0);
    color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app-container {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin-top: 50px;
}

#project-nav {
    background-color: rgb(236, 236, 236);
    
}

#project-container {
    background-color: rgb(236, 236, 236);
    grid-column: 1 / 1;
    height: 100vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#project-parent {
    overflow: auto;
    padding-bottom: 200px;
}

#todo-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
    background-color: rgb(255, 255, 255);
    border: solid rgb(187, 187, 187);
    padding: 10px;
    height: 100vh;
}

#todo-interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#todo-nav{
    display: grid;
    grid-template-columns: auto 100px 150px 30px;
    grid-template-areas: "name priority date icons";
}

#todo-header-priority {
    grid-area: priority;
    justify-self: end;
}

#todo-title-duedate {
    grid-area: date;
    justify-self: end;
}



#completed-todo {
    background-color: grey;
}



.project-instance {
    display: grid;
    grid-template-columns: 200px 80px;
    grid-template-rows: 40px 20px;
    grid-template-areas: 
        "name info"
        "date delete";

    background-color: rgb(212, 212, 212);
    border: solid rgb(187, 187, 187);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    
}

#project-name {
    grid-area: name;
}

#project-info-button {
    grid-area: info;
    justify-self: end;
}

#project-date {
    grid-area: date;
    font-size: 12px;
    position: relative;
    top: 5px;
}

#project-date-input {
    grid-area: date;
    position: relative;
    left: 0px;
    width: 100px;
    height: 10px;
    font-size: 8px;
}

#edit-date-button {
    position: relative;
    left: 110px;
    bottom: 15px;
}

.projectdelete {
    grid-area: delete;
    justify-self: end;
    align-self: end;
    width: 20px;
}

.project-instance:hover {
    cursor: pointer;
    background-color:  rgb(163, 163, 163);
}

.todo-instance {
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 100%;
    display: grid;
    grid-template-columns: 40px auto 100px 150px 30px;
    grid-template-areas: "check name priority date calendar"
}

#checkbox {
    grid-area: check;
}

#todo-name {
    grid-area: name;
}

#priority-select {
    grid-area: priority;
    justify-self: end;
}

#todo-duedate {
    grid-area: date;
    justify-self: end;

}

#due-date-text {
    grid-area: date;
    justify-self: center;
    align-self: center;
    position: relative;
    top: 2px;
}

#todo-edit-date-button {
    grid-area: calendar;
    justify-self: center;
    align-self: center;
}

#todo-edit-date-input {
    grid-area: date;
    position: fixed;
    right: 30px;
    font-size: 5px;
    
}

button {
    color: red;
    width: 150px;
    
}

#add-project-button {
    grid-column: 1 / 1;
}

#add-todo-button {
    grid-column: 2 / 2;
}



.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(0, 41, 41);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.hide {
    transform: scale(0%);
    display: none;
}

#project-info-button {
    width: 80px;
}